$sz-bg-primary: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,26,38,1) 35%, rgba(46,61,89,1) 100%);
$sz-text-secondary: #19285e;
$sz-text-highlight: #f27405;
$sz-text-sub-secondary: #19285e;
$sz-text-sub-secondary-hover: #F27405;
$sz-text-link: #F27405;
$sz-text-wink-dark: #F27405;
$sz-to-wink-light: #F27405;
$sz-text-secondary-light: #F2F2F2;

.sz-background {
  // background: $sz-bg-primary;
}

.glass-header {
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase
}

@media (max-width: 425px) {
  .home-title {
    font-size: 2rem;
  }
}

@media (min-width: 640px) {
  .home-title {
    font-size:3rem;
    line-height: 60px
  }
}

@media (min-width: 768px) {
  .home-title {
    font-size: 3.75rem;
    line-height: 80px
  }
}

@media (min-width: 1280px) {
  .home-title {
    align-items:flex-start
  }
}


.sz-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 1536px) {
  .sz-container {
    max-width: 1600px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .sz-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .sz-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .sz-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media only screen and (min-width: 640px) {
  .sz-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.sz-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index:1000;
}


.btn {
  height: 3rem;
  max-width: 320px;
  text-align: center;
  &:hover {
    .bg-btn-wink {
      width: 100%;
    }
  }
}

.btn-custom {
  padding: 5px;
  text-align: center;
  &:hover {
    .bg-btn-wink {
      width: 100%;
    }
  }
}

.btn-primary {
  border-radius: 0.375rem;
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  --tw-gradient-from: #f27405;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgb(0 103 255/0));
  --tw-gradient-to: #F2B705;
  font-weight: 600;
  color: #fff;
}

.bg-btn-wink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3.5rem;
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  --tw-gradient-from: #f27405;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgb(0 103 255/0));
  --tw-gradient-to: #F2B705;
  &:hover {
    width: 100%;
  }
}

.text-text-highlight {
  color: $sz-text-highlight;
}

.text-text-secondary {
  color: $sz-text-secondary;
}
.text-secondary-light {
  // color: $sz-text-secondary-light;
  color: $sz-text-secondary;
}
.text-sub-secondary-light {
  // color: $sz-text-secondary-light;
  color: $sz-text-sub-secondary;
}
.text-text-sub-secondary {
  color: $sz-text-sub-secondary;
  &:hover {
    color: $sz-text-sub-secondary-hover;
  }
}

.text-text-link {
  color: $sz-text-link
}

.text-wink-dark {
  color: $sz-text-wink-dark;
}

.transition-width {
  transition: width .3s;
}
.gradient-border {
  position: relative;
  display: inline-block;
  box-shadow: 0 3px 25px 0 #008dff1a;
}


.marquee-background {
  background: linear-gradient(269.69deg,hsla(0,0%,100%,.6) -11.7%,hsla(0,0%,100%,.2) 107.08%,hsla(0,0%,100%,0) 116.42%);
  height: 8rem;
}

@media (min-width: 640px) {
  .marquee-background {
    height: 13rem;
  }
}

.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: paused;
  &:hover {
    div {
      animation-play-state: var(--pause-on-hover);
    }
  }
  &:active {
    div {
      animation-play-state: var(--pause-on-click);
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay::before, .overlay::after {
  background: linear-gradient(to right, var(--gradient-color));
  content: "";
  height: 100%;
  position: absolute;
  width: var(--gradient-width);
  z-index: 2;
}
.overlay::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.overlay::before {
  left: 0;
  top: 0;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}
.softzone-marquee {
  --play: running;
  --direction: normal;
  --duration: 70s;
  --delay: 0s;
  --iteration-count: infinite;
}
.softzone-marquee-reverse {
  --play: running;
  --direction: reverse;
  --duration: 70s;
  --delay: 0s;
  --iteration-count: infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.text-link {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  --tw-text-opacity: 1;
  color: rgb(0 141 255);
}

.description {
  --tw-text-opacity: 1;
  color: rgb(65 84 105);
  margin-top: 2rem;
}

.shadow-card {
  box-shadow: 0 4px 25px rgba(98,112,129,.1);
}


.animate-earth {
  -webkit-animation: slightlySpin 5s linear infinite;
  animation: slightlySpin 5s linear infinite
}

.animate-rocket {
  -webkit-animation: rocketLaunch 6s ease-in-out infinite;
  animation: rocketLaunch 6s ease-in-out infinite;
}

@keyframes slightlySpin {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(1deg)
  }

  50% {
    transform: rotate(3deg)
  }

  75% {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(0deg)
  }
}

@keyframes rocketLaunch {
  0%,to {
    transform: rotate(0deg) translate(0)
  }

  25%,75% {
    transform: rotate(-5deg) translateY(-10px)
  }

  50% {
    transform: rotate(0deg) translateY(-40px)
  }
}

.bg-wink-dark {
  --tw-bg-opacity: 1;
  background-color: #F27405;
}

.bg-wink-light {
  --tw-bg-opacity: 1;
  background-color: #F27405;
}

@media (min-width: 1280px) {
  .softzone-step {
    &:hover {
      .softzone-step-num {
        color: #F27405
      }

      .softzone-step-title {
        color: #F27405
      }
    }
  }
}


.testimonial-card {
  max-width: 20rem
}

@media (min-width: 768px) {
  .testimonial-card {
    max-width: 640px
  }
}

@media (max-width: 600px) {
  .sidebar-custom-w {
    width: 94% !important;
  }
}

.testimonial-card {
  background: rgba(255,255,255,.8);
  box-shadow: 0 4px 25px rgba(98,112,129,.1);
  border-radius: 16px;
  padding: 24px;
  width: 640px;
  min-height: 220px;
  margin: 20px
}

.program-card {
  background: rgba(255,255,255,.8);
  box-shadow: 0 4px 25px rgba(98,112,129,.1);
  border-radius: 16px;
  padding: 1rem;
  width: 10rem;
  margin: 1rem;
}

.to-wink-dark {
  --tw-gradient-to: #0067ff;
}

.to-wink-light {
  --tw-gradient-to: $sz-to-wink-light;
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

@keyframes thumbUp {
  0%,to {
    transform: rotate(0deg) translateY(10px)
  }

  25%,75% {
    transform: rotate(3deg) translateY(-10px)
  }

  50% {
    transform: rotate(0deg) translate(0)
  }
}

.animate-thumbup {
  -webkit-animation: thumbUp 8s ease-in-out infinite;
  animation: thumbUp 8s ease-in-out infinite
}

@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-spinLeft {
  -webkit-animation: spinLeft 8s linear infinite;
  animation: spinLeft 8s linear infinite;
}

.sidebar-custom-w {
  width: 300px;
  min-height: 500px;
}

.main-nav {
  min-height: 370px;
}

.custom-btn {
  padding: 5px 15px;
}

.text-nav {
  position: relative;
  padding: 10px 0;
}

.text-nav:hover {
  opacity: 0.6;
}

.main-nav::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,rgba(66,71,112,0.09),rgba(66,71,112,0.09) 50%,transparent 0,transparent);
  background-size: 8px 1px;
  content: "";
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
  /*   100% {
      stroke-dashoffset: 4000;
    } */
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
  /*   100% {
      stroke-dashoffset: 4000;
    } */
}

.program-card-animate {
  background: rgba(255,255,255,1);
  box-shadow: 0 4px 25px rgba(98,112,129,.1);
  border-radius: 16px;
  padding: 0.5rem;
  width: 5.8rem;
  height: 5.8rem;
  transition-duration: 500ms;
  &:hover {
    cursor: pointer;
    // transform: translateY(-0.5rem);
  }
}

.hide {
  transition: opacity 0.5s;
}

.animation-render {
  transition: all 0.5s ease-in-out;
  color: $sz-text-secondary;
  .bg-animate {
    // background: $sz-bg-primary;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
    border-radius: 16px;
    font-weight: 600;
  }
  .header {
    top: 10px;
    left: 1rem;
    width: 500px;
    height: 2.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    .header-logo {
      width: 3.2rem;
      height: 1.35rem;
      margin-top: 0.6rem;
      font-style: italic;
    }
    .header-search {
      width: 17.5rem;
      height: 1.35rem;
      margin-top: 0.6rem;
      margin-left: 1.5rem;
      box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
      border-radius: 0.5rem;
      font-size: 0.85rem;
      padding: 1rem 0;
    }
    .header-toggle {
      width: 3.6rem;
      height: 1.35rem;
      margin-top: 0.6rem;
      margin-left: 3.5rem;
      display: flex;
      justify-content: center;
    }
  }
  .content {
    top: 3.75rem;
    left: 1rem;
    width: 412px;
    height: 150px;
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  .illusion {
    top: 3.75rem;
    right: 1rem;
    width: 412px;
    height: 150px;
    font-size: 1.5rem;
    .block-1 {
      background: #F2B705;
      position: absolute;
      top: 6rem;
      width: 11rem;
      right: -2rem;
      height: 19rem;
      transform: rotate(45deg);
      border-radius: 0.5rem;
    }
    .block-2 {
      background: #f27405;
      position: absolute;
      left: 16rem;
      top: 5rem;
      width: 6rem;
      height: 13rem;
      border-radius: 0.5rem;
      transform: rotate(45deg);
    }
    .block-3 {
      background: #e5e7eb;
      position: absolute;
      left: 12rem;
      top: 5rem;
      width: 6rem;
      height: 13rem;
      border-radius: 0.5rem;
      transform: rotate(45deg);
    }
  }
  .hero-animate {
    background: #fff;
    // font-weight: 600;
  }
  .hero-web {
    font-size: 13px;
    position: absolute;
    width: 730px;
    height: 410px;
    background: #fff;
    top: 65px;
    left: 30px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
    .web-header {
      padding: 1rem 0.8rem;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      .logo {
        width: 4rem;
        font-style: italic;
        font-weight: 600;
      }
      .search {
        display: flex;
        align-items: center;
        width: 28.5rem;
        height: 1.35rem;
        box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
        border-radius: 0.5rem;
        font-size: 0.85rem;
        padding: 1rem 0;
      }
    }
    .web-section {
      padding: 1rem 0.8rem;
      display: flex;
      align-items: center;
      .left {
        width: 4rem;
        height: 20rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .right {
        height: 20rem;
        width: 40rem;
        overflow: hidden;
        border-radius: 0.5rem;
        box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
        .table {
          padding: 1rem;
          border: 1px solid #f7f7f9;
          th, td {
            padding: 0.25rem 0.5rem;
          }
        }
        .table-border {
          th, td {
            border: 1px solid #f7f7f9;
          }
        }
      }
    }
  }
  .hero-mobile {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 225px;
    height: 410px;
    background: #fff;
    box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
    border-radius: 0.5rem;
    .mobile-logo {
      font-style: italic;
      font-weight: 600;
      font-size: 1.1rem;
    }
    .form-wrapper {
      font-size: 13px;
      padding: 0.5rem 0.75rem;
      .label {
      }
      .form-input {
        border-radius: 0.25rem;
        box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
        padding-left: 0.5rem;
        color: #949494;
        width: 100%;
        height: 1.5rem;
        border: 1px solid #e5e7eb;
      }
    }
    .pay-btn {
      background: $sz-text-secondary;
      color: #fff;
      border-radius: 0.25rem;
      font-weight: 600;
      width: 100%;
      height: 1.5rem;
      text-align: center;
    }
  }
}

.step-wrapper {
  display: flex;
  .step-content {
    padding: 1rem;
  }
}
.step-num {
  width: 100%;
  display: flex;
  justify-content: center;
  .num-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid $sz-text-highlight;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 4px 25px rgba(98, 112, 129, 0.1);
  }
}

.grow {
  transition: all .5s ease-in-out;
  .grow-text {
    transition: all .5s ease-in-out;
    transform: scale(0);
    font-size: 13px;
  }
  &:hover {
    transform: scale(1.25) !important;
    .grow-text {
      transform: scale(1) !important;
    }
  }
}
